@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilos globales para inputs robustos */
@layer base {

  input[type="text"],
  input[type="number"],
  input[type="date"],
  select {
    @apply mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm border p-2;
  }

  label {
    @apply block text-sm font-medium text-gray-700;
  }
}